<!DOCTYPE html>
<html>
<head>
  <title>Consource</title>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36515703-1']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

    </script>
  <%= stylesheet_link_tag "bootstrap.css", :media=> "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "contract" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="row-fluid top_header">
  		<div class="span6 head_logo">
  			<img id="logo_img" src="/assets/congora_logo.jpg"/>
  		</div>
  		<div class="span1 header_text dashboard_icon offset3">
  			<img src="/assets/dashboard_icon.jpg"/>
  			<p>Dashboard</p>
  		</div>
  		<div class="span1 header_text account_icon">
  			<img src="/assets/account_icon.jpg"/>
  			<p>Account</p>
  		</div>
	</div>
	<!-- <img src="/assets/6_Contract_MainExpanded.jpg"/>	 -->
  <%= yield %>

</body>
</html>
