<!DOCTYPE html>
<html>
<head>
  <title>Consource</title>
  <%= stylesheet_link_tag "bootstrap.css", :media=> "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "contract" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="row-fluid top_header">
  		<div class="span6 head_logo">
  			<img id="logo_img" src="/assets/congora_logo.jpg"/>
  		</div>
  		<div class="span1 header_text dashboard_icon offset3">
  			<img src="/assets/dashboard_icon.jpg"/>
  			<p>Dashboard</p>
  		</div>
  		<div class="span1 header_text account_icon">
  			<img src="/assets/account_icon.jpg"/>
  			<p>Account</p>
  		</div>
	</div>
	<!-- <img src="/assets/6_Contract_MainExpanded.jpg"/>	 -->
  <%= yield %>

</body>
</html>
